.title {
    text-align: center;
    font-size: 3em;
}

.grid-container {
    max-width: 600px;
    max-height: 600px;
    height: 600px;
    width: 600px;
    border: 1px solid black;
    margin: 25px auto;
    display: grid;
}

.grid-items {
}

.grid-items:hover {
    transition: background-color 0.2s linear;
}

.clear-color {
    background-color: white;
}

.options-menu {
    max-width: 600px;
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.button {
    border: none;
    outline: none;
    padding: 10px 25px 10px 25px;
    font-weight: bold;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.5s;
}

.button:hover {
    background-color: #2EE59D;
    transform: scale(1.1);
}